body 
{
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

#header 
{
	background-color: #66CCFF;
	padding: 10px;
}

h1
{
	margin: 0;
}

#form 
{
	width: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#formsearch 
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


#footer
{
	clear:both;
	padding: 10px;
	background-color: #999999;
	color:white;
	text-align: right;
	
}

.button1 {
    
}

* {
  margin: 0;
  padding: 0;
}
 
nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #005B50;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

.medium-btn {
    width: 70px;
    height: 30px;
}